<div class="page-wrapper">
  <div class="p-section">
    <h4><span class="p-title">TECHNOLOGY STACK</span></h4>
    <div class="skill-section">
      <div class="skill-wrapper">
        <div class="skill-name">JAVA SCRIPT/JQUERY</div>
        <div class="skill-status p-8">
          <div class="skill-progress"></div>
        </div>
      </div>
      <div class="skill-wrapper">
        <div class="skill-name">HTML/CSS</div>
        <div class="skill-status p-9">
          <div class="skill-progress"></div>
        </div>
      </div>
      <div class="skill-wrapper">
        <div class="skill-name">BOOTSTRAP/FLEX</div>
        <div class="skill-status p-8">
          <div class="skill-progress"></div>
        </div>
      </div>
      <div class="skill-wrapper">
        <div class="skill-name">SASS/SCSS</div>
        <div class="skill-status p-9">
          <div class="skill-progress"></div>
        </div>
      </div>
      <div class="skill-wrapper">
        <div class="skill-name">REACT</div>
        <div class="skill-status p-8">
          <div class="skill-progress"></div>
        </div>
      </div>
      <div class="skill-wrapper">
        <div class="skill-name">REACT-NATIVE</div>
        <div class="skill-status p-7">
          <div class="skill-progress"></div>
        </div>
      </div>
      <div class="skill-wrapper">
        <div class="skill-name">ANGULAR 1</div>
        <div class="skill-status p-6">
          <div class="skill-progress"></div>
        </div>
      </div>
      <div class="skill-wrapper">
        <div class="skill-name">ANGULAR 2&4</div>
        <div class="skill-status p-7">
          <div class="skill-progress"></div>
        </div>
      </div>
      <div class="skill-wrapper">
        <div class="skill-name">JAVA</div>
        <div class="skill-status p-5">
          <div class="skill-progress"></div>
        </div>
      </div>
      <div class="skill-wrapper">
        <div class="skill-name">ANDROID</div>
        <div class="skill-status p-6">
          <div class="skill-progress"></div>
        </div>
      </div>
      <div class="skill-wrapper">
        <div class="skill-name">IONIC / CORDOVA</div>
        <div class="skill-status p-6">
          <div class="skill-progress"></div>
        </div>
      </div>
      <div class="skill-wrapper">
        <div class="skill-name">PYTHON</div>
        <div class="skill-status p-2">
          <div class="skill-progress"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-section">
    <h4><span class="p-title">OTHER SKILLS</span></h4>
    <div class="skill-section">
      <div class="skill-wrapper">
        <div class="skill-name">RESPONSIBLE</div>
        <div class="skill-status p-10">
          <div class="skill-progress"></div>
        </div>
      </div>
      <div class="skill-wrapper">
        <div class="skill-name">MULTITASKING</div>
        <div class="skill-status p-8">
          <div class="skill-progress"></div>
        </div>
      </div>
      <div class="skill-wrapper">
        <div class="skill-name">CREATIVE</div>
        <div class="skill-status p-8">
          <div class="skill-progress"></div>
        </div>
      </div>
    </div>
  </div>
</div>