<div class="page-wrapper">
  <div class="my-name-wraper flex flex-center">
    <img class="name" src="../assets/images/sanoop.png"/>
	</div>
	<div class="work-area-wrapper  flex flex-center">
		<div class="card flex flex-center flex-column prtf-card">
			<div class="work-area-name">Web Application Development</div>
			<img src="../assets/images/web-application-development.png"/>
		</div>
		<div class="card flex flex-center flex-column prtf-card">
			<div class="work-area-name">Mobile Application Development</div>
			<img src="../assets/images/mobile-application-development.png"/>
		</div>
	</div>
	<div class="work-area-wrapper  flex flex-center">
		<div class="card flex flex-center flex-column prtf-card">
			<div class="work-area-name">Cross Platform Applications</div>
			<img src="../assets/images/cross-platform.png"/>
		</div>
		<div class="card flex flex-center flex-column prtf-card">
			<div class="work-area-name">Web Hosting</div>
			<img src="../assets/images/web-hosting.png"/>
		</div>
	</div>
</div>