<div class="page-wrapper">
  <div class="education-timeline-wrapper flex flex-row flex-vertical-center">
    <div class="year flex flex-right"><span>2014</span></div>
    <div class="education-timeline">
      <div class="timeline-separator flex-horizontal-center">
        <div class="separator-line"></div>
      </div>
      <div class="timeline-node flex flex-center">
        <div class="dot"></div>
      </div>
      <div class="timeline-separator flex-horizontal-center">
        <div class="separator-line"></div>
      </div>
    </div>
    <div class="course">
      <div class="course-name">Bachelor of Engineering in CSE</div>
      <div class="institution">REC - Perambalur, Tamilnadu</div>
    </div>
  </div>
  <div class="timeline-separator sl flex-horizontal-center">
    <div class="separator-line"></div>
  </div>
  <div class="education-timeline-wrapper flex flex-row flex-vertical-center">
    <div class="year flex flex-right"><span>2011</span></div>
    <div class="education-timeline">
      <div class="timeline-separator flex-horizontal-center">
        <div class="separator-line"></div>
      </div>
      <div class="timeline-node flex flex-center">
        <div class="dot"></div>
      </div>
      <div class="timeline-separator flex-horizontal-center">
        <div class="separator-line"></div>
      </div>
    </div>
    <div class="course">
      <div class="course-name">Diploma in SE</div>
      <div class="institution">Govt. Polytechnic college - Meppadi, Kerala</div>
    </div>
  </div>
  <div class="timeline-separator sl flex-horizontal-center">
    <div class="separator-line"></div>
  </div>
  <div class="education-timeline-wrapper flex flex-row flex-vertical-center">
    <div class="year flex flex-right"><span>2008</span></div>
    <div class="education-timeline">
      <div class="timeline-separator flex-horizontal-center">
        <div class="separator-line"></div>
      </div>
      <div class="timeline-node flex flex-center">
        <div class="dot"></div>
      </div>
      <div class="timeline-separator flex-horizontal-center">
        <div class="separator-line"></div>
      </div>
    </div>
    <div class="course">
      <div class="course-name">Plus Two</div>
      <div class="institution">Govt. Higher Secondary School - Panamaram, Kerala</div>
    </div>
  </div>
  <div class="education-timeline-wrapper flex flex-row flex-vertical-center">
    <div class="year flex flex-right"><span>2006</span></div>
    <div class="education-timeline">
      <div class="timeline-separator flex-horizontal-center">
        <div class="separator-line"></div>
      </div>
      <div class="timeline-node flex flex-center">
        <div class="dot"></div>
      </div>
      <div class="timeline-separator flex-horizontal-center">
        <div class="separator-line"></div>
      </div>
    </div>
    <div class="course">
      <div class="course-name">Matriculation</div>
      <div class="institution">Sarvodaya HS - Eachome, Kerala</div>
    </div>
  </div>
</div>